<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <link rel='stylesheet' href='/stylesheets/style.css' />
    </head>
    <body>
        <h1><%= title %></h1>
        <form method="POST" action="/add_task">
            <input type="text" name="task" placeholder="タスクを入力">
            <input type="submit" value="追加する">
        </form>
        <ul>
            <% items.forEach(function(item) { %>
            <li><%= item.text %></li>
            <% }) %>
        </ul>
    </body>
</html>
